<%= stylesheet_link_tag 'tl/tl' %>

<body>
	<div id="header">
		<span class="titlerogo">*サービスのタイトルロゴ</span>
	</div>
	<div id="main">
		<div id="main_sidebar">
		</div>
		<div id="main_tlbar">
		  <%= render 'shared/base_tlbar' %>
		</div>
	</div>
	<div id="footer">footer</div>
</body>