<%= stylesheet_link_tag 'login_page/login_index' %>

<body>
  <div id="header">header</div>
  <div id="main">
    <div id="form_head"><span class="rogo">Slatter</span>へようこそ</div>
    <div id="form_area">
      <ul>
        <li>ユーザー名:</li>
        <li>メールアドレス:</li>
        <li>パスワード:</li>
        <li>確認パスワード:</li>
      </ul>
      Create 
    </div>
  </div>
</body>