  <%= stylesheet_link_tag "login_page/login_page", :media => "all" %>
<body>

  <div id="main">
    <div>WelCome</div>
    <div id="rogo">
      Slatter
    </div>
  	<div id="login_area">
  	  <div id="login_form">
  	    <div id="login_input">
          Name: <br>
          *ここにテキストフィールド<br>
          Password:<br>
          *ここにテキストフィールド<br>
          <div id="login_button">Login</div>
          <div id="login_new">
            <%= link_to 'new user?', '/login_pages/new' %>
          </div>
        </div>
	  </div>
	    Login with twitter
        Login with facebook
    </div>
  </div>

</body>
 