<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Slatter</title>
=======
  <title>TweeterKari</title>
>>>>>>> 34884a3685569ee62069abef8170ffa2cc302b40
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
